body {
}

/* bg-colors Start*/

.bg-transparent {
    background-color: transparent;
}

.bg-stone-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(28 25 23 / var(--tw-bg-opacity));
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

/* bg-colors End*/




/* bg-opacity Start*/

.bg-opacity-90 {
    --tw-bg-opacity: 0.9;
}


/* bg-colors end*/


/* Font Weights Start*/

.font-bold {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

/* Font Weights End*/



/* text-colors Start*/

.text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}

/* text-colors Start*/




/* Max-h-[] Start*/

.max-h-\[20rem\] {
    max-height: 20rem /* 320px */;
}

/* Max-h-[] End*/


.h-\[9rem\] {
    height: 9rem /* 144px */;
}

.h-\[5rem\] {
    height: 5rem /* 80px */;
}

.min-w-\[5rem\] {
    min-width: 5rem /* 80px */;
}

.min-w-\[15rem\] {
    min-width: 15rem /* 240px */;
}


.max-w-\[9rem\] {
    max-width: 9rem /* 144px */;
}

.max-w-\[20rem\] {
    max-width: 20rem /* 320px */;
}

.top-\[4\.2rem\] {
    top: 4.2rem /* 67.2px */;
}

.overflow-hidden {
    overflow: hidden;
}

.max-h-max {
    max-height: max-content;
}